body
{
    margin:0;
    padding:0;
    display: flex;
    min-height: 100vh;
    background: #003e46;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.container
{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #003e46;
    align-content: center;
}
.box
{
    position: relative;
    width: 300px;
    height: 400px;
    background: #000;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
    left: 20%;
}
.box .imgBox
{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
.box .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.box:hover .imgBox img
{
    opacity: 0;
}
.box .content{
    position: absolute;
    bottom: 20px;
    left:10%;
    width:80%;
    height: 60px;
    background: rgba(4, 4, 4, 0.8);
    border-radius: 25px;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    color:#fff;
}
.box:hover .content
{
    height: 100%;
    width: 100%;
    bottom:0;
    left: 0;
    border-radius: 0px;
    opacity: 1;
}
.box .content h1{
    margin:0 0 0 60px;
    padding: 0;
    font-size: 25px;
}
.box .content p
{
    margin:10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}
.box:hover .content p
{
    opacity: 1;
    transition-delay: 0.5s;
}
.box .content h1.leon
{
    font-size: 21px;
    margin: 3px 0 0 30px;
}

.box .leons{
    overflow: hidden;
    cursor:default;
}
.box:hover .leons
{
    opacity: 1;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    background: transparent;
    width: 6px;
}
::-webkit-scrollbar-track{
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    background:#c0392b;
    border-radius: 10px;
}
@media (min-width: 1400px) and (max-width: 2160px){
    .box{
        left: 40%;
    }
}
.eas{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    background: transparent;
    top: 100px;
    left: 200px;
}
.egg{
    width: 1px;
    height: 1px;
    opacity: 0;
    background: transparent;
}
.egg:hover{
    cursor: pointer;
}
.backgroundFlipPreview{
    display: block;
    position: absolute;
    width: 100%;
    height: 150px;
    top: 1px;
    right: 256px;
    bottom: 0px;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
    transform: translateX(-60px);
    border: 2px solid white;
    box-shadow: 0 0 10px black; 
}
.backgroundFlipHover:hover .backgroundFlipPreview{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    transition: 1s;
    transition-delay: 0.5s;
}
.tiktokPreview{
    position: absolute;
    width: 170%;
    right: 565px;
    bottom: 0px;
    top: 1px;
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
    transform: translateX(-50px);
    box-shadow: 0 0 10px black; 
    height: 170%;
}

.tiktokHover:hover .tiktokPreview{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    transition: 0.2s;
    visibility: visible;
}
.previewTiktok{
    width: 170%;
    height: 170%;
    position: absolute;
    transform: rotateX(50px);
    box-shadow: 0 0 10px black;
    opacity: 0.9;
    visibility: hidden;
}
.tiktokHover:hover .previewTiktok{
    visibility: visible;
}
